.user-preview {
  display: flex;
  justify-content: center;
  margin: 0.5em auto;
  color: black;

  &:hover {
    background-color: rgb(89, 114, 142);
    border-radius: 10px;
    cursor: pointer;
  }
}
